doctype html
html
    head
        title Issue Confirmation
        style.
            body {
                font-family: Arial, sans-serif;
                background-color: #f2f2f2;
                margin: 0;
                padding: 20px;
            }
            
            h1 {
                color: #333;
                text-align: center;
            }
            
            .book-details {
                background-color: #fff;
                border-radius: 5px;
                padding: 20px;
                margin-top: 20px;
            }
            
            h2 {
                color: #333;
                margin-bottom: 10px;
            }
            
            p {
                margin: 5px 0;
            }
            
            button.confirm-button {
                background-color: #4CAF50;
                color: white;
                border: none;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                border-radius: 5px;
                cursor: pointer;
                margin-top: 20px;
            }
            
            button.confirm-button:hover {
                background-color: #45a049;
            }
            .bottom {
                background-color: #ddd;
                padding: 10px;
                text-align: center;
                font-size: 1rem;
                color: #555;
            }

            
    body
        h1 Issue Confirmation
        div.book-details
            h2 Book Details
            p Book Name: #{book.title}
            p Publisher: #{book.publisher}
            p Author: #{book.author}
        form(action="/user/confirm", method="POST")
            input(type="hidden", name="title", value=book.title)
            input(type="hidden", name="author", value=book.author)
            input(type="hidden", name="publisher", value=book.publisher)
            button.confirm-button(type="submit", style="display: #{show_button ? 'flex' : 'None'}") Confirm Issue Request

        p(class='bottom')= message       
