doctype html
html
    head
        title User Book View
        style
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 2%;
                background-color: #f2f2f2; /* Super light gray */
            }

            h1 {
                text-align: center;
                font-size: 3vw;
            }

            h2 {
                margin-top: 3%;
                font-size: 2vw;
                color: #4CAF50; /* Secondary color */
            }

            .book-list {
                overflow-y: scroll;
                max-height: 30vh;
                border: 1px solid #ccc;
                padding: 2%;
                margin-bottom: 4%;
                background-color: #fff; /* White */
            }

            table {
                width: 100%;
                border-collapse: collapse;
            }

            th, td {
                border: 1px solid #ccc;
                padding: 1.5%;
                text-align: center;
                font-size: 1.5vw;
            }

            .book-item {
                margin-bottom: 2%;
            }

            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                padding: 1%;
            }

            a {
                color: #fff; /* White */
                text-decoration: none;
            }

            p{
                color: #4CAF50;
                font-size: 1.5rem;
                text-align:center;
            }

            .book-list tr:nth-child(even) {
                background-color: #f2f2f2; /* Super light gray */
            }

            .book-list tr:hover {
                background-color: #ddd; /* Light gray */
            }

            button {
                background-color: #4CAF50; /* Secondary color */
                color: #fff; /* White */
                border: none;
                padding: 5px 10px;
                cursor: pointer;
                font-size: 1.5vw;
            }

            button:hover {
                background-color: #45a049; /* Darker secondary color */
            }
            
            tbody tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            tbody tr:hover {
                background-color: #ddd;
            }
            td, th {
                border: 1px solid black;
                padding: 0.5rem;
                color: #333;
            }
            .list-header {
                font-weight: bold;
                background-color: #4CAF50;
                color: white;
                padding: 0.5rem;
                text-align: center;
            }
            button {
                background-color: #4CAF50;
                color: white;
                border: none;
                padding: 0.5rem 1rem;
                border-radius: 3px;
                cursor: pointer;
                width: 15vw;
                font-size: 1.5rem;
            }

            
    body
        div(class="header")
            h1 User Book View
            form(action="/user")
                button(type="submit") Back to Home
        p(id='bottom', style=`display: ${message ? 'block' : 'none'}`)= message
        h2 Current Books
        .book-list
            table
                thead
                    tr
                        th(class='list-header') ID
                        th(class='list-header') Title
                        th(class='list-header') Author
                        th(class='list-header') Issue Date
                        th(class='list-header') Last Date to Return
                        th(class='list-header') Fine
                        th(class='list-header') Actions
                tbody
                    if currentlyIssuedBooks.length === 0
                        tr
                            td(colspan="6") No book is issued
                    else
                        each book in currentlyIssuedBooks
                            tr.book-item
                                td= book.id
                                td= book.title
                                td= allBooks.find(b => b.title === book.title).author
                                td= new Date(book.issued_at).toLocaleDateString()
                                - var return_date = new Date(new Date(book.issued_at).getTime() + 7 * 24 * 60 * 60 * 1000)
                                td= return_date.toLocaleDateString()
                                td= new Date() <= return_date ? '₹0' : "₹" +  Math.ceil((new Date() - return_date) / (7 * 24 * 60 * 60 * 1000))*10
                                td
                                    form(action="/user/return", method="POST")
                                        input(type="hidden", name="id", value=book.id)
                                        input(type="hidden", name="title", value=book.title)
                                        button(type="submit") Return
        h2 Pending approvals
        .book-list
            table
                thead
                    tr
                        th(class='list-header') Title
                        th(class='list-header') Author
                        th(class='list-header') Type

                tbody
                    if pendingBooks.length === 0
                        tr
                            td(colspan="3") No approval is pending
                    else
                        each book in pendingBooks
                            tr.book-item
                                td= book.title
                                td= allBooks.find(b => b.title === book.title).author
                                td= book.request_status === '-1' ? "Return" : "Issue"
        h2 Book History
        .book-list
            table
                thead
                    tr
                        th(class='list-header') ID
                        th(class='list-header') Title
                        th(class='list-header') Author
                        th(class='list-header') Issue Date
                        th(class='list-header') Return Date
                tbody
                    if bookHistory.length === 0
                        tr
                            td(colspan="5") You have no book history
                    else
                        each book in bookHistory
                            tr.book-item
                                td= book.id
                                td= book.title
                                td= allBooks.find(b => b.title === book.title).author
                                td= new Date(book.issued_at).toLocaleDateString()
                                td= new Date(book.returned_at).toLocaleDateString()
